.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #EDE6E1;
}

.main .title {
    font-family: 'HYWenHei', Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    width: 100%;
    background-color: #0F1822;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 2;
}

.main .title h1 {
    width: 90%;
    justify-self: center;
    align-self: self-end;
    margin-bottom: 55px;
    color: #fff;
}

.news-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60% 40%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main-news {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.main-news .news-text {
    font-family: 'Helvetica', Arial, sans-serif;
    width: 50%;
    align-items: center;
    margin-top: 16px;
}

.main-news .news-text h3 {
    font-size: 14px;
    color: #EA4954;
    margin-bottom: 8px;
    letter-spacing: 0.1em;

    span {
        color: #000000;
    };
}

.main-news .news-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.main-news .news-text p {
    font-size: 16px;
    margin-bottom: 10px;
}

.main-news img {
    width: 50%;
    height: auto;
    margin: auto;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.news-item .news-text {
    font-family: 'Helvetica', Arial, sans-serif;
    width: 80%;
    align-items: center;
    margin-top: 16px;
}

.news-item .news-text h3 {
    font-size: 12px;
    color: #EA4954;
    margin-bottom: 8px;
    letter-spacing: 0.1em;

    span {
        color: #000000;
    };
}

.news-item .news-text h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.news-item .news-text p {
    font-size: 15px;
    margin-bottom: 20px;
    width: 95%;
}

.news-item img {
    width: 80%;
    height: auto;
}

@media (max-width: 1024px) {
    .main .title {
        height: 30vh;
    }

    .news-cont {
        grid-template-rows: 55% 45%;
    }

    .news-item .news-text p {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .main .title {
        height: 25vh;
    }

    .main .title h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .news-cont {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 40px;
    }

    .main-news {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 20px;
        margin: 0;
    }

    .main-news .news-text {
        font-family: 'Helvetica', Arial, sans-serif;
        width: 80%;
        align-items: center;
        margin-top: 16px;
    }
    
    .main-news .news-text h3 {
        font-size: 12px;
        color: #EA4954;
        margin-bottom: 8px;
        letter-spacing: 0.1em;
    
        span {
            color: #000000;
        };
    }
    
    .main-news .news-text h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .main-news .news-text p {
        font-size: 15px;
        margin-bottom: 20px;
        width: 95%;
    }

    .main-news img {
        width: 80%;
        height: auto;
        margin: 0;
    }
}