.content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 66px;
    background-color: #ECE7E1;
}

.content .title {
    position: relative;
    font-family: 'HYWenHei', Arial, sans-serif;
    font-size: 96px;
    font-weight: 400;
    justify-content: center;
    margin: 150px 0 0 57px;
}

.sunrise {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sunrise h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    justify-content: center;
    margin: 48px 0 0 60px;
    letter-spacing: 0.1em;
}

.sunrise p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    text-align: justify;
    width: 45%;
    margin: 10px 0 25px 60px;
}

.sunrise img {
    width: 55%;
    height: auto;
    margin: auto;
}

.divider {
    width: 100%;
    background-color: #ccc;
    margin-top: 25px;
}

.lotis {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EA4855;
}

.lotis h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    justify-content: center;
    margin: 48px 0 0 60px;
    letter-spacing: 0.1em;
    color: #fff;
}

.lotis p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    text-align: justify;
    width: 45%;
    margin: 10px 0 25px 60px;
    color: #fff;
}

.lotis img {
    width: 55%;
    height: auto;
    margin: auto;
}

.fractire {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.fractire h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    justify-content: center;
    margin: 48px 0 0 60px;
    letter-spacing: 0.1em;
}

.fractire p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    text-align: justify;
    width: 45%;
    margin: 10px 0 25px 60px;
}

.fractire img {
    width: 55%;
    height: auto;
    margin: auto;
}

.hotbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EDE6E1;
}

.hotbox h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    justify-content: center;
    margin: 48px 0 0 60px;
    letter-spacing: 0.1em;
}

.hotbox p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    text-align: justify;
    width: 45%;
    margin: 10px 0 25px 60px;
}

.hotbox img {
    width: 55%;
    height: auto;
    margin: auto;
}

.bound {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EA4855;
}

.bound h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    justify-content: center;
    margin: 48px 0 0 60px;
    letter-spacing: 0.1em;
    color: #fff;
}

.bound p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    text-align: justify;
    width: 45%;
    margin: 10px 0 25px 60px;
    color: #fff;
}

.bound img {
    width: 55%;
    height: auto;
    margin: auto;
}

@media (max-width: 768px) {
    .content .title {
        font-size: 48px;
        margin: 70px 0 0 40px;
    }

    .sunrise h1, .lotis h1, .fractire h1, .hotbox h1, .bound h1 {
        font-size: 32px;
        margin: 32px 0 0 40px;
    }

    .sunrise p, .lotis p, .fractire p, .hotbox p, .bound p {
        font-size: 14px;
        margin: 10px 0 25px 40px;
        width: 80%;
    }
}