@font-face {
    font-family: 'HYWenHei';
    src: url(../../../assets/HYWenHei.ttf) format('truetype');
}

@font-face {
    font-family: 'Bytesized';
    src: url(../../../assets/Bytesized-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Background */
.bg {
    flex: 1;
    background: url("../../../assets/agents-bg.png") no-repeat top center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.74);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 66px;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

.logo {
    font-family: 'HYWenHei', Arial, sans-serif;
    font-size: 25px;
    color: white;
    padding: 0 28px 0 70px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 15px;
    margin-left: 56px;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links a:focus {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #ffffff;
}

.nav-links a.active {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #ffffff;
}

.report-btn {
    margin-left: auto;
}

.report-btn button {
    background-color: #c49a6c;
    border: none;
    height: 66px;
    width: 150px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

/* Main */
.main {
    /* display: flex; */
    flex-direction: column;
    height: 93vh;
    width: 100%;
}

.upper {
    flex-direction: row;
}

.left-side {
    flex-direction: column;
}

.agent-name {
    font-family: 'HyWenHei', Arial, sans-serif;
    font-size: 100px;
    color: #ffffff;
    margin: 155px 0 0 355px;
}

.rectangle {
    display: flex;
    width: 280px;
    height: 50px;
    background-color: #CDA474;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 0 0 351px;
    flex-direction: row;
}

.role-text {
    display: flex;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.44em;
    color: #000000;
    margin-left: 15px;

}

.role-logo {
    display: flex;
    width: 26px;
    height: 26px;
    margin: 12px 0 0 12px;
}

.desc {
    display: flex;
    width: 458px;
    height: 105px;
    background: rgba(0, 0, 0, 0.45);
    margin: 15px 0 0 351px;
}

.desc p {
    font-family: 'Helvetica', Arial, sans-serif;
    color: white;
    margin: 0;
    font-size: 17px;
    text-align: justify;
    margin: 10px;
}

.agent-img {
    margin: -400px 0 0 750px;
    width: 45%;
}

.skills {
    display: flex;
    flex-direction: row;
    z-index: 1000;
    margin: -490px 0 0 542px;
    list-style: none;
    gap: 16px;
    position: absolute;
}

.skills li img {
    width: 45px;
    height: 45px;
}

.agent-select {
    height: 165px;
    background: rgba(113, 113, 113, 0.41);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -170px;
    position: relative;
    width: 100%;
}

.agent-select ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 48px;
    justify-content: center;
}

.agent-select li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.agent-select li img{
    width: 81px;
}

.agent-select .jitt img:hover {
    content: url("../../../assets/agent-select/jitt-selected.png");
    width: 81px;
}

.agent-select .suga img:hover {
    content: url("../../../assets/agent-select/suga-selected.png");
    width: 81px;
}

.agent-select .pinix img:hover {
    content: url("../../../assets/agent-select/pinix-selected.png");
    width: 81px;
}

.agent-select .reza img:hover {
    content: url("../../../assets/agent-select/reza-selected.png");
    width: 81px;
}

.agent-select .sopa img:hover {
    content: url("../../../assets/agent-select/sopa-selected.png");
    width: 81px;
}

/* Footer */
.footer {
    position: relative;
    margin-top: auto;
    background-color: #000000;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.giot-logo {
    font-family: 'Bytesized', Arial, sans-serif;
    color: #ffffff;
    font-size: 68px;
    margin-bottom: 4px;
    word-spacing: -0.2em;
    align-items: center;
    justify-content: center;
}
.change-color-logo {
    color: #276bff;
}

.footer-text {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    line-height: 140%;
    color: #7e7e7e;
}

.esrb-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    width: 222px;
    height: 121px;
    background-color: #7e7e7e42;
    border-radius: 10px;
    position: relative;
}

.esrb-box p {
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
    margin: 0;
    color: white;
    padding-left: 12px;
}

.esrb-box img {
    float: left;
    width: 65px;
}

/* Responsive Design */
.menu-toggle {
    position: fixed;
    top: 9px;
    right: 2rem;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 1200;
    display: none;
}

.menu-toggle-close {
    position: fixed;
    top: 9px;
    right: 2rem;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 1200;
    display: none;
}

.menu {
    position: fixed;
    right: 0;
    top: 66px;
    width: 0px;
    height: calc(94vh + 320px);
    background-color: #ffffff;
    overflow: hidden;
    z-index: 1300;
    transition: width 0.3s ease;
}

.menu ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu li {
    padding: 0;
    list-style: none;
    padding: 24px 0 24px 35px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.menu a {
    text-decoration: none;
    color: #000000;
}

.menu .report-btn button {
    margin: 0;
    width: 100%;
}

.menu li:hover, .nav-links li:focus {
    border-left: #69e0ff 4px solid;
}

.menu li.active {
    border-left: #69e0ff 4px solid;
}

@media (max-width: 1024px) {
    .navbar .nav-links, .navbar .report-btn {
        display: none;
    }

    .navbar .logo {
        color: #ffffff;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.hidden {
        display: none;
    }

    .menu-toggle-close.active {
        display: block;
    }

    .menu.active {
        display: block;
        width: 300px;
        overflow: hidden;
    }

    .bg {
        background-size: cover;
    }

    .agent-img {
        margin: -400px 0 0 550px;
        width: 60%;
        z-index: -1;
    }

    .left-side {
        margin: 300px 0 0 -250px;
    }

    .skills {
        margin: -400px 0 0 297px;
    }

    .agent-select ul {
        margin-right: 37px;
    }

    .footer {
        height: 500px;
    }

    .giot-logo {
        font-size: 90px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 55px;
    }

    .logo {
        font-size: 20px;
        padding: 0 17px 0 32px;
    }

    .menu-toggle {
        top: 5px;
        right: 2rem;
        font-size: 30px;
    }
    
    .menu-toggle-close {
        top: 5px;
        right: 2rem;
        font-size: 30px;
    }

    .menu {
        top: 55px;
    }

    .footer {
        height: 290px;
    }
    
    .giot-logo {
        font-size: 55px;
    }

    .footer-text {
        font-size: 10px;
        padding: 0 25px;

        br {
            display: none;
        }
    }

    .esrb-box {
        width: 192px;
        height: 91px;
    }

    .esrb-box p {
        font-size: 10px;
    }

    .esrb-box img {
        width: 55px;
        height: auto;
    }

    .left-side {
        margin: 100px 0 0 -320px;
    }

    .agent-name  {
        font-size: 30px;
    }

    .rectangle {
        width: 150px;
        height: 30px;
    }

    .role-text {
        font-size: 13px;
        letter-spacing: 0.2em;
        margin-left: 10px;
        margin-top: 2px;
    }

    .role-logo {
        width: 15px;
        height: 15px;
        margin: 8px 0 0 14px;
    }

    .desc {
        width: 150px;
        height: 110px;
        margin-top: 10px;
        z-index: 2000;
    }

    .desc p {
        font-size: 10px;
        margin: 5px;
    }

    .agent-img {
        margin: -250px 0 0 130px;
        width: 120%;
    }

    .skills {
        margin: -320px 0 0 7px;
        gap: 8px;
    }

    .skills li img {
        width: 25px;
        height: 25px;
    }

    .agent-select {
        height: 100px;
        /* margin-top: -100px; */
    }

    .agent-select ul {
        gap: 20px;
    }

    .agent-select li {
        margin-top: 0;
    }

    .agent-select li img {
        width: 50px;
    }

    .agent-select .jitt img:hover {
        width: 50px;
    }
    
    .agent-select .suga img:hover {
        width: 50px;
    }
    
    .agent-select .pinix img:hover {
        width: 50px;
    }
    
    .agent-select .reza img:hover {
        width: 50px;
    }
    
    .agent-select .sopa img:hover {
        width: 50px;
    }
}